<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
    table, tr, td {
      border: 1px solid black;
      border-collapse: collapse;
      padding: 5px;
    }
    tr {
      height: 30px;
    }
</style>
    <title>My Task Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <title>Memory Usage</title>
    <div class="container">
    <table style="width:100%">
      <tbody>
        <tr>
        {% for n in my_headers %}
          <td>{{n}}</td>
        {% endfor %}
        </tr>
        <tr>
        {% for m in my_values %}
          <td>{{m}}</td>
        {% endfor %}
        </tr>
      </tbody>
  </table>
  </div>
  </body>
</html>